@layer variables {
    :where(html) {
        --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
        --font-serif: ui-serif,serif;
        --font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;
        --font-weight-1: 100;
        --font-weight-2: 200;
        --font-weight-3: 300;
        --font-weight-4: 400;
        --font-weight-5: 500;
        --font-weight-6: 600;
        --font-weight-7: 700;
        --font-weight-8: 800;
        --font-weight-9: 900;
        --font-lineheight-00: .95;
        --font-lineheight-0: 1.1;
        --font-lineheight-1: 1.25;
        --font-lineheight-2: 1.375;
        --font-lineheight-3: 1.5;
        --font-lineheight-4: 1.75;
        --font-lineheight-5: 2;
        --font-letterspacing-0: -.05em;
        --font-letterspacing-1: .025em;
        --font-letterspacing-2: .05em;
        --font-letterspacing-3: .075em;
        --font-letterspacing-4: .15em;
        --font-letterspacing-5: .5em;
        --font-letterspacing-6: .75em;
        --font-letterspacing-7: 1em;
        --fs-00: .5rem;
        --fs-0: .75rem;
        --fs-1: 1rem;
        --fs-2: 1.1rem;
        --fs-3: 1.25rem;
        --fs-4: 1.5rem;
        --fs-5: 2rem;
        --fs-6: 2.5rem;
        --fs-7: 3rem;
        --fs-8: 3.5rem;
        --fs-fluid-0: max(.75rem, min(2vw, 1rem));
        --fs-fluid-1: max(1rem, min(4vw, 1.5rem));
        --fs-fluid-2: max(1.5rem, min(6vw, 2.5rem));
        --fs-fluid-3: max(2rem, min(9vw, 3.5rem));
        --size-000: -.5rem;
        --size-00: -.25rem;
        --size-1: .25rem;
        --size-2: .5rem;
        --size-3: 1rem;
        --size-4: 1.25rem;
        --size-5: 1.5rem;
        --size-6: 1.75rem;
        --size-7: 2rem;
        --size-8: 3rem;
        --size-9: 4rem;
        --size-10: 5rem;
        --size-11: 7.5rem;
        --size-12: 10rem;
        --size-13: 15rem;
        --size-14: 20rem;
        --size-15: 30rem;
        --size-fluid-1: max(.5rem, min(1vw, 1rem));
        --size-fluid-2: max(1rem, min(2vw, 1.5rem));
        --size-fluid-3: max(1.5rem, min(3vw, 2rem));
        --size-fluid-4: max(2rem, min(4vw, 3rem));
        --size-fluid-5: max(4rem, min(5vw, 5rem));
        --size-fluid-6: max(5rem, min(7vw, 7.5rem));
        --size-fluid-7: max(7.5rem, min(10vw, 10rem));
        --size-fluid-8: max(10rem, min(20vw, 15rem));
        --size-fluid-9: max(15rem, min(30vw, 20rem));
        --size-fluid-10: max(20rem, min(40vw, 30rem));
        --size-content-1: 20ch;
        --size-content-2: 45ch;
        --size-content-3: 60ch;
        --size-header-1: 20ch;
        --size-header-2: 25ch;
        --size-header-3: 35ch;
        --size-xxs: 240px;
        --size-xs: 360px;
        --size-sm: 480px;
        --size-md: 768px;
        --size-lg: 1024px;
        --size-xl: 1440px;
        --size-xxl: 1920px;
        --ease-1: cubic-bezier(.25,0,.5,1);
        --ease-2: cubic-bezier(.25,0,.4,1);
        --ease-3: cubic-bezier(.25,0,.3,1);
        --ease-4: cubic-bezier(.25,0,.2,1);
        --ease-5: cubic-bezier(.25,0,.1,1);
        --ease-in-1: cubic-bezier(.25,0,1,1);
        --ease-in-2: cubic-bezier(.5,0,1,1);
        --ease-in-3: cubic-bezier(.7,0,1,1);
        --ease-in-4: cubic-bezier(.9,0,1,1);
        --ease-in-5: cubic-bezier(1,0,1,1);
        --ease-out-1: cubic-bezier(0,0,.75,1);
        --ease-out-2: cubic-bezier(0,0,.5,1);
        --ease-out-3: cubic-bezier(0,0,.3,1);
        --ease-out-4: cubic-bezier(0,0,.1,1);
        --ease-out-5: cubic-bezier(0,0,0,1);
        --ease-in-out-1: cubic-bezier(.1,0,.9,1);
        --ease-in-out-2: cubic-bezier(.3,0,.7,1);
        --ease-in-out-3: cubic-bezier(.5,0,.5,1);
        --ease-in-out-4: cubic-bezier(.7,0,.3,1);
        --ease-in-out-5: cubic-bezier(.9,0,.1,1);
        --ease-elastic-1: cubic-bezier(.5,.75,.75,1.25);
        --ease-elastic-2: cubic-bezier(.5,1,.75,1.25);
        --ease-elastic-3: cubic-bezier(.5,1.25,.75,1.25);
        --ease-elastic-4: cubic-bezier(.5,1.5,.75,1.25);
        --ease-elastic-5: cubic-bezier(.5,1.75,.75,1.25);
        --ease-squish-1: cubic-bezier(.5,-.1,.1,1.5);
        --ease-squish-2: cubic-bezier(.5,-.3,.1,1.5);
        --ease-squish-3: cubic-bezier(.5,-.5,.1,1.5);
        --ease-squish-4: cubic-bezier(.5,-.7,.1,1.5);
        --ease-squish-5: cubic-bezier(.5,-.9,.1,1.5);
        --ease-step-1: steps(2);
        --ease-step-2: steps(3);
        --ease-step-3: steps(4);
        --ease-step-4: steps(7);
        --ease-step-5: steps(10);
        --layer-1: 1;
        --layer-2: 2;
        --layer-3: 3;
        --layer-4: 4;
        --layer-5: 5;
        --layer-important: 2147483647;
        --shadow-color: 220 3% 15%;
        --shadow-strength: 1%;
        --shadow-1: 0 1px 2px -1px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --shadow-2: 0 3px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 7px 14px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%));
        --shadow-3: 0 -1px 3px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 2%)),0 1px 2px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 2%)),0 2px 5px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 4%)),0 4px 12px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%)),0 12px 15px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 7%));
        --shadow-4: 0 -2px 5px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 2%)),0 1px 1px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 2px 2px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 5px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 4%)),0 9px 9px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%)),0 16px 16px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 6%));
        --shadow-5: 0 -1px 2px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 2%)),0 2px 1px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 5px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 10px 10px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 4%)),0 20px 20px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%)),0 40px 40px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 7%));
        --shadow-6: 0 -1px 2px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 2%)),0 3px 2px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 7px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 12px 10px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 4%)),0 22px 18px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%)),0 41px 33px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 6%)),0 100px 80px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 7%));
        --inner-shadow-0: inset 0 0 0 1px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --inner-shadow-1: inset 0 1px 2px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --inner-shadow-2: inset 0 1px 4px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --inner-shadow-3: inset 0 2px 8px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --inner-shadow-4: inset 0 2px 14px 0 hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
        --ratio-square: 1;
        --ratio-landscape: 4/3;
        --ratio-portrait: 3/4;
        --ratio-widescreen: 16/9;
        --ratio-ultrawide: 18/5;
        --ratio-golden: 1.618/1;
        --gray-0: #f8f9fa;
        --gray-1: #f1f3f5;
        --gray-2: #e9ecef;
        --gray-3: #dee2e6;
        --gray-4: #ced4da;
        --gray-5: #adb5bd;
        --gray-6: #868e96;
        --gray-7: #495057;
        --gray-8: #343a40;
        --gray-9: #212529;
        --red-0: #fff5f5;
        --red-1: #ffe3e3;
        --red-2: #ffc9c9;
        --red-3: #ffa8a8;
        --red-4: #ff8787;
        --red-5: #ff6b6b;
        --red-6: #fa5252;
        --red-7: #f03e3e;
        --red-8: #e03131;
        --red-9: #c92a2a;
        --pink-0: #fff0f6;
        --pink-1: #ffdeeb;
        --pink-2: #fcc2d7;
        --pink-3: #faa2c1;
        --pink-4: #f783ac;
        --pink-5: #f06595;
        --pink-6: #e64980;
        --pink-7: #d6336c;
        --pink-8: #c2255c;
        --pink-9: #a61e4d;
        --grape-0: #f8f0fc;
        --grape-1: #f3d9fa;
        --grape-2: #eebefa;
        --grape-3: #e599f7;
        --grape-4: #da77f2;
        --grape-5: #cc5de8;
        --grape-6: #be4bdb;
        --grape-7: #ae3ec9;
        --grape-8: #9c36b5;
        --grape-9: #862e9c;
        --violet-0: #f3f0ff;
        --violet-1: #e5dbff;
        --violet-2: #d0bfff;
        --violet-3: #b197fc;
        --violet-4: #9775fa;
        --violet-5: #845ef7;
        --violet-6: #7950f2;
        --violet-7: #7048e8;
        --violet-8: #6741d9;
        --violet-9: #5f3dc4;
        --indigo-0: #edf2ff;
        --indigo-1: #dbe4ff;
        --indigo-2: #bac8ff;
        --indigo-3: #91a7ff;
        --indigo-4: #748ffc;
        --indigo-5: #5c7cfa;
        --indigo-6: #4c6ef5;
        --indigo-7: #4263eb;
        --indigo-8: #3b5bdb;
        --indigo-9: #364fc7;
        --blue-0: #e7f5ff;
        --blue-1: #d0ebff;
        --blue-2: #a5d8ff;
        --blue-3: #74c0fc;
        --blue-4: #4dabf7;
        --blue-5: #339af0;
        --blue-6: #228be6;
        --blue-7: #1c7ed6;
        --blue-8: #1971c2;
        --blue-9: #1864ab;
        --cyan-0: #e3fafc;
        --cyan-1: #c5f6fa;
        --cyan-2: #99e9f2;
        --cyan-3: #66d9e8;
        --cyan-4: #3bc9db;
        --cyan-5: #22b8cf;
        --cyan-6: #15aabf;
        --cyan-7: #1098ad;
        --cyan-8: #0c8599;
        --cyan-9: #0b7285;
        --teal-0: #e6fcf5;
        --teal-1: #c3fae8;
        --teal-2: #96f2d7;
        --teal-3: #63e6be;
        --teal-4: #38d9a9;
        --teal-5: #20c997;
        --teal-6: #12b886;
        --teal-7: #0ca678;
        --teal-8: #099268;
        --teal-9: #087f5b;
        --green-0: #ebfbee;
        --green-1: #d3f9d8;
        --green-2: #b2f2bb;
        --green-3: #8ce99a;
        --green-4: #69db7c;
        --green-5: #51cf66;
        --green-6: #40c057;
        --green-7: #37b24d;
        --green-8: #2f9e44;
        --green-9: #2b8a3e;
        --lime-0: #f4fce3;
        --lime-1: #e9fac8;
        --lime-2: #d8f5a2;
        --lime-3: #c0eb75;
        --lime-4: #a9e34b;
        --lime-5: #94d82d;
        --lime-6: #82c91e;
        --lime-7: #74b816;
        --lime-8: #66a80f;
        --lime-9: #5c940d;
        --yellow-0: #fff9db;
        --yellow-1: #fff3bf;
        --yellow-2: #ffec99;
        --yellow-3: #ffe066;
        --yellow-4: #ffd43b;
        --yellow-5: #fcc419;
        --yellow-6: #fab005;
        --yellow-7: #f59f00;
        --yellow-8: #f08c00;
        --yellow-9: #e67700;
        --orange-0: #fff4e6;
        --orange-1: #ffe8cc;
        --orange-2: #ffd8a8;
        --orange-3: #ffc078;
        --orange-4: #ffa94d;
        --orange-5: #ff922b;
        --orange-6: #fd7e14;
        --orange-7: #f76707;
        --orange-8: #e8590c;
        --orange-9: #d9480f;
        --gradient-1: linear-gradient(315deg, #d5ddf8, #fff 57%);
        --gradient-2: linear-gradient(to bottom right,#BBF7D0,#DBEAFE,#93C5FD); 
        --gradient-3:linear-gradient(rgb(83, 165, 223), rgb(169, 210, 239));
        --gradient-4: linear-gradient(rgb(69, 34, 119), rgb(144, 97, 209));
        --gradient-5: linear-gradient(rgb(32, 172, 172), rgb(83, 223, 223));
        --gradient-6: linear-gradient(rgb(255, 91, 87), rgb(170, 228, 215));
        --gradient-7: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%);
        --gradient-8:radial-gradient(65% 100% at 50% 0%, #00FF94 0%, rgba(0, 255, 148, 0.25) 100%), linear-gradient(230deg, #000000 25%, #170059 100%), linear-gradient(215deg, #FFEBB9 10%, #19004E 80%), radial-gradient(100% 245% at 100% 100%, #FFFFFF 0%, #000353 100%), linear-gradient(125deg, #1400FF 0%, #3A0000 100%), linear-gradient(225deg, #00F0FF 30%, #000B6F 45%, #00EBFC 45%, #001676 65%, #00E1F6 65%, #001676 85%, #00ECFD 85%, #001676 100%), linear-gradient(135deg, #00F0FF 0%, #000B6F 15%, #00EBFC 15%, #001676 35%, #00E1F6 35%, #001676 55%, #00ECFD 55%, #001676 100%); background-blend-mode: soft-light, screen, overlay, overlay, difference, overlay, normal;
        --gradient-9: linear-gradient(115deg, #000000 0%, #00C508 55%, #000000 100%), linear-gradient(115deg, #0057FF 0%, #020077 100%), conic-gradient(from 110deg at -5% 35%, #000000 0deg, #FAFF00 360deg), conic-gradient(from 220deg at 30% 30%, #FF0000 0deg, #0000FF 220deg, #240060 360deg), conic-gradient(from 235deg at 60% 35%, #0089D7 0deg, #0000FF 180deg, #240060 360deg); background-blend-mode: soft-light, soft-light, overlay, screen, normal;
        --gradient-10: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
        --gradient-11: radial-gradient(circle at center bottom, rgb(253, 230, 138), rgb(124, 58, 237), rgb(12, 74, 110));
        --gradient-12: radial-gradient(at center center, rgb(88, 28, 135), rgb(99, 102, 241));
        --gradient-13: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
        --gradient-14:conic-gradient(at right center, rgb(199, 210, 254), rgb(71, 85, 105), rgb(199, 210, 254));
        --gradient-15:conic-gradient(at center top, rgb(17, 24, 39), rgb(243, 244, 246), rgb(17, 24, 39));
        --gradient-16: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
        --gradient-17: linear-gradient(142.78deg, #9FCCFA -22.92%, #0974F1 122.49%);
        --gradient-18: linear-gradient(161.15deg, #A0E9E5 12.73%, #5CCDC7 72.95%);
        --gradient-19: linear-gradient(161.15deg, #FFE7CD 12.73%, #FCB9A2 72.95%);
        --gradient-20: linear-gradient(142.29deg, #FECDED 21.8%, #FE9CA1 73.22%);
        --gradient-21: linear-gradient(161.15deg, #F6BFE9 12.73%, #A28CD1 72.95%);
        --gradient-22:  linear-gradient(161.15deg, #321F73 12.73%, #A28CD1 72.95%);
        --gradient-23: linear-gradient(163.3deg, #82E7FE 11.54%, #6DB7FF 90.45%);
        --gradient-24: linear-gradient(163.3deg, #D9DBDE 11.54%, #A8AAAE 90.45%);
        --gradient-25: linear-gradient(161.15deg, #C569CF 12.73%, #EE609C 72.95%);
        --gradient-26: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
        --gradient-27: radial-gradient(90.15% 90.15% at 68.95% 9.85%, #6BD0EA 0%, #ABDEE7 14.06%, #BBE3E7 30.73%, #ECE5CF 46.35%, #E7DBD8 62.5%, #AD8FE5 79.69%, #4F2FE6 97.92%);
        --gradient-28: radial-gradient(57.72% 58.33% at 47.37% 102.73%, rgba(255, 185, 162, 0.5) 0, rgba(36, 31, 71, 0) 100%), radial-gradient(92.32% 103.31% at 7.16% 96.06%, rgba(117, 116, 230, 0.9) 0%, rgba(36, 31, 71, 0) 100%);
        --gradient-29: radial-gradient(140% 107% at 50% 10%, #000314 37.41%, #6633EE 69.27%, #FFFFFF 100%);
        --gradient-30: linear-gradient(103.58deg, #B6D0F7 0.9%, #EEF4E1 21.12%, #E2C1F9 39.05%, #BFD1F9 52.2%, #FAFCFE 62.83%, #BAE4E2 71.67%, #8C6BE3 89.14%);
        --gradient-31: conic-gradient(at bottom left, deeppink, cyan);
        --gradient-32: radial-gradient(100% 100% at 50% 0, #210CA0 48.71%, #266CD5 100%);
        --gradient-33: linear-gradient(rgb(253, 220, 53), rgb(254, 237, 154));



        --noise-1: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.005' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        --noise-2: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.05' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        --noise-3: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.25' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        --noise-4: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        --noise-5: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.75' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
        --noise-filter-1: contrast(300%) brightness(100%);
        --noise-filter-2: contrast(200%) brightness(150%);
        --noise-filter-3: contrast(200%) brightness(250%);
        --noise-filter-4: contrast(200%) brightness(500%);
        --noise-filter-5: contrast(200%) brightness(1000%);
        --animation-fade-in: fade-in .5s var(--ease-3);
        --animation-fade-out: fade-out .5s var(--ease-3);
        --animation-scale-up: scale-up .5s var(--ease-3);
        --animation-scale-down: scale-down .5s var(--ease-3);
        --animation-slide-out-up: slide-out-up .5s var(--ease-3);
        --animation-slide-out-down: slide-out-down .5s var(--ease-3);
        --animation-slide-out-right: slide-out-right .5s var(--ease-3);
        --animation-slide-out-left: slide-out-left .5s var(--ease-3);
        --animation-slide-in-up: slide-in-up .5s var(--ease-3);
        --animation-slide-in-down: slide-in-down .5s var(--ease-3);
        --animation-slide-in-right: slide-in-right .5s var(--ease-3);
        --animation-slide-in-left: slide-in-left .5s var(--ease-3);
        --animation-shake-x: shake-x .75s var(--ease-out-5);
        --animation-shake-y: shake-y .75s var(--ease-out-5) infinite;
        --animation-spin: spin 2s linear infinite;
        --animation-ping: ping 5s var(--ease-out-3) infinite;
        --animation-blink: blink 1s var(--ease-out-3) infinite;
        --animation-float: float 3s var(--ease-in-out-3) infinite;
        --animation-bounce: bounce 2s var(--ease-squish-2) infinite;
        --animation-pulse: pulse 2s var(--ease-out-3) infinite;
        --border-size-1: 1px;
        --border-size-2: 2px;
        --border-size-3: 5px;
        --border-size-4: 10px;
        --border-size-5: 25px;
        --radius-1: 2px;
        --radius-2: 5px;
        --radius-3: 1rem;
        --radius-4: 2rem;
        --radius-5: 4rem;
        --radius-6: 8rem;
        --radius-round: 1e5px;
        --radius-blob-1: 30% 70% 70% 30%/53% 30% 70% 47%;
        --radius-blob-2: 53% 47% 34% 66%/63% 46% 54% 37%;
        --radius-blob-3: 37% 63% 56% 44%/49% 56% 44% 51%;
        --radius-blob-4: 63% 37% 37% 63%/43% 37% 63% 57%;
        --radius-blob-5: 49% 51% 48% 52%/57% 44% 56% 43%;
        --radius-conditional-1: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-1));
        --radius-conditional-2: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-2));
        --radius-conditional-3: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-3));
        --radius-conditional-4: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-4));
        --radius-conditional-5: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-5));
        --radius-conditional-6: clamp(0px,calc(100vw - 100%) * 1e5,var(--radius-6))
    }


    @keyframes shake-y {
        0%,to {
            width: 0px;
        }
    
        20% {
            width: 90px;
        }
    
        40% {
            width: 110px;
        }
    
        60% {
            width: 90px;
        }
    
        80% {
            width: 110px;
        }
    }

}


